.container-fulid {
  padding-left: 10%;
  padding-right: 10%;
}
input[type=search] {
  background: transparent;
  border: none;
}
input[type=search]:focus {
  outline: none;
  border: none;

}
.app{
  display: inline-block;
  border: 1px solid white;
  border-radius: 12px;
  background: #F7F9FA;
  margin: 20px;
}
.topHead {
  font-size: 25px;
  font-weight: 600;
  font-family: inherit;
  padding-right: 10%;
}
.navListitem {
  font-size: initial;
  font-weight: 500;
  font-family: inherit;
  padding-left: 4%;
}
.signupBtn{
  width: 140px !important;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(43deg, rgb(124 52 130) 4%, rgba(255,62,217,0.9178046218487395) 30%, rgb(247 105 4) 100%);
  border: none !important;
  font-size: 17px;
  font-family: inherit;
}
.loginHeading {
  text-align: center;
  padding: 8% 20%; 
} 
.subHeadLogin {
  font-size: 20px;
  
}
.loginBtn {
  width: 100%;
  text-align: center;
  border: none !important;
  /* font-size: 20px; */
  background: linear-gradient(43deg, rgb(124 52 130) 4%, rgba(255,62,217,0.9178046218487395) 30%, rgb(247 105 4) 100%);
}
.loginBtns {
  width: 100%;
  text-align: left !important;
  border: 2px solid black !important;
  color: black !important;

  background-color: white !important;
}
.login_group{
  padding-bottom: 2% !important;
}
.separator {
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: auto !important;
  
}

Button span {
  font-size: 15px;
  padding: 3%;
}